@tailwind base;
@tailwind components;
@tailwind utilities;


button {
 @apply bg-gray-400 px-2 py-1 rounded-xl hover:bg-amber-600 hover:text-white duration-300 disabled:opacity-25 disabled:pointer-events-none
}

button.accent {
 @apply bg-pink-700 hover:bg-pink-900 text-white
}
button.active {
 @apply border-4 border-black
}

h1 {
  @apply text-5xl my-3
}

h3 {
  @apply text-3xl my-3
}


.parent {
  @apply bg-amber-400
}
